HTML/XML_DTD/lessons_DTD.dtd

<!ELEMENT TimeTable (item+)>
<!ELEMENT item (name, teacher, begin, end, address, lecturehall)> 
<!ATTLIST item id NMTOKEN #REQUIRED>
<!ELEMENT name (#PCDATA)> 
<!ELEMENT teacher (#PCDATA)> 
<!ELEMENT begin (#PCDATA)> 
<!ELEMENT end (#PCDATA)> 
<!ELEMENT address (#PCDATA)>
<!ELEMENT lecturehall (#PCDATA)>
